{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
var currentAngle = -90;
var targetAngle = currentAngle;
var roomId = {{room_id}};
deg2Rad = function(x) { return x * (Math.PI / 180.0); };
function updateNeedle() {
  var ofs = $('#meter').offset();
  var leftCorrection = 120 * Math.cos(deg2Rad(90 - currentAngle));
  var topCorrection = 120 * Math.sin(deg2Rad(90 - currentAngle));
  $('#needle').css('left', (ofs.left + 220 + leftCorrection) + 'px');
  $('#needle').css('top', (ofs.top + 110 - topCorrection) + 'px');
  $('#needle').css('-webkit-transform', 'rotate('+currentAngle+'deg)');
}
$(document).ready(function() {
  updateNeedle();
  window.setInterval(function() {
    $.getJSON('/room/'+roomId+'/mood_value.json', function(data) {
      targetAngle = (data.average * 1.8 - 90.0);
    });
  }, 500);
  window.setInterval(function() {
    currentAngle += (targetAngle - currentAngle) * 0.1;
    updateNeedle();
  }, 10);
});
$(window).resize(updateNeedle);
</script>
{% endblock %}

{% block body %}
<div class="container">
<div class="meter">
<img id="meter" src="/media/meter.png">
<img id="needle" src="/media/needle.png">
</div>
</div>
{% endblock %}
